.body{
    background-color: #0077FE;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.inscription-title{
    text-align: center;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control{
    border-radius: 2em;
    margin-bottom: 20px;
    width: 400px;
    height: 50px;
}
.btn{
    align-self: center;
    background-color: #fff;
    border-radius: 2em;
    margin-top: 50px;
    color: #0077FE;
    width: 250px;
    height: 50px;
}

::placeholder {
    opacity: 0.5;
  }
  