<div class="container">
    <div class="row">
        <div class="col-6">
            test1
        </div>
        <div class="col-6">
            test 2
        </div>
    </div>
    <div class="filters">
        <select name="category" id="category" class="filter">
            <option value="1">
                Graphisme / design
            </option>
            <option value="2">
                Marketing
            </option>
            <option value="3">
                Musique / Audio
            </option>
            <option value="4">
                Programmation
            </option>
            <option value="5">
                Sport
            </option>
        </select>
        <form>
            <input type="text" placeholder="Saisissez le nom de l'offre">
            <input type="submit" value="Rechercher">
        </form>
    </div>
    
</div>