<div class="container-fluid d-flex flex-column justify-content-evenly bg-primary">
        <div class="wrapper text-center">
            <div class="label">
                <span>Recherchez une compétence et trouvez</span><br>
                <span class="hero-text-lign2">quelqu'un pour vous l'apprendre en</span><br>
                <span class="hero-text-lign3">quelques clics.</span>
            </div>
            <div class="searchBar"> 
              <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder=" Rechercher..." value="" />
            </div>
            <button type="button" class="btn btn-light button text-primary">Rechercher</button>
        </div>
</div>