<div class="container-fluid bg-primary">
    <div class="row justify-content-center align-items-center">
    <div class="description col-12 col-md-6">
        <h5 class="title">Tout un monde de compétences et de<br> talents à votre portée</h5><br>
        <span class="text-lign1">Basé sur un système d'échange de compétences, Skills</span><br>
        <span class="text-lign2">& Trades à pour objectif de rendre accessible des</span><br>
        <span class="text-lign3">talents, savoir-faire et connaissance au plus grand</span><br>
        <span class="text-lign4">nombre de personnes.</span><br><br>
        <p class="hero-text-lign3">Skills & Trades vous propose donc de partager vos <br> compétences tout en vous enrichissant.</p>
    </div>
    <div class="video col-12 col-md-6"> 
        <video width="350" height="280" controls>
            <source src="assets/dump-video.mp4" type="video/mp4">
            <source src="assets/dump-video.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</div>
</div>